body{
	background-color: #33658a;
	height: 100%;
	width:auto;
}
ul{
	list-style-type: none;
}

.title{
	margin: 10px;
	color: #cacfd6;
}
.nav-bar-letters{
	color: #cacfd6;
}
.container-mid{
	background-color: #33658a;
	padding-top: 10%;
	height: auto;
	width:auto;
}
.canvas-container{
	height: auto;
	width: auto;
}

label{
	padding-top: 10px;
}
form{
	padding-bottom: 10px;
}
.custom_button{
	padding-top: 13px;
	padding-bottom: 13px;
	margin-top: 13px;
	margin-bottom: 13px;
}
.div-margin-top{
	margin-top:50px;
}
#registration{
	background-color: #00cc28;
	color: white;
}
#registration:hover{
	background-color: #009b1e;
}
#registration:active{
	background-color: #008e1b;
}

#circle-loader_div{
	margin-top:70%;
	margin-bottom:100%;
}
#circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	width: 50px;
    height: 50px;	
}
.circle-loader {
    width: calc(100% - 0px);
	height: calc(100% - 0px);
	border: 8px solid #162534;
	border-top: 8px solid #09f;
	border-radius: 50%;
	animation: rotate 1s linear infinite;
}


@keyframes rotate {
	100% {transform: rotate(360deg);}
}
	
canvas{
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}